<h1>登録中の商品</h1>
<p><%= current_user.name %>さんの商品一覧です</p>
<ul>
  <% @items.each do |item| %>
    <li>
      <%= item.name %> - ¥ <%= item.price %> - <%= link_to "編集", edit_item_path(item), class: "btn btn-sm" %>
    </li>
  <% end %>
</ul>
